# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VC files
*.suo
*.ncb
*.user
*.aps
*.pdb
_UpgradeReport_Files/

# VC files
*.sdf
*.opensdf
ipch/
*.VC.opendb
*.VC.db

# VC build output directories
Debug/
Release/

# MS Office
~*.*

# Code Blocks files
*.layout
*.depend
*.cbTemp
out/
bin/

# Misc.
*.bak
